<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.purdue.a307.betcha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launch_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ManageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CreateBetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.FriendsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.NewsFeedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MyBetsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.BetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.BetDetailActivity" />
        <activity
            android:name=".Activities.SearchFriendsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditBetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity

            android:name=".Activities.JoinBetActivity"
            android:label="@string/title_activity_join_bet"
            android:parentActivityName=".Activities.NewsFeedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.purdue.a307.betcha.Activities.NewsFeedActivity" />
        </activity>
        <activity
            android:name=".Activities.InvitePeepsActivity"
            android:label="@string/title_activity_invite_peeps"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>